{:paths ["src" "resources"]
 :deps {org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        cheshire/cheshire {:mvn/version "5.11.0"}}
 :aliases
 {:test {:extra-paths ["test" "test-resources"]}}}
